.contact{
    margin:0px;
}
.contact .contact-head{
    display:flex;
    background-color: whitesmoke;
    margin:0px;
    display:flex;
    padding:30px 50px 0px;
}
.contact .textbox{
    width: 100%;
    height: 40px;
}
.contact .text-box{
    width: 100%;
    height: 160px;
}
.contact .text{
    width: 100%;
    height: 40px;
}
.contact .form-div{
    padding-top: 10px;
}
.contact .contact-info{
    padding: 0px;
}
.contact .text-info{
    padding: 0px;
}
.contact .map-div{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    background-color: whitesmoke;
    padding:50px;
}
.contact .text-font{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
}
.contact .text-font-heading{
    font-family: 'Montserrat';
}
.contact .address{
    width:325px;
}
#map
{
    filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);    
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
}