.footer-container
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color:white;
    padding:50px;
    flex-wrap: wrap;
}
.combiner2
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
}
.list-combiner
{
    display:flex;
    flex-wrap: wrap;
    margin-right:auto;
    align-items:center;
    justify-content: space-between;
}
.combiner1
{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
}
.bold-text
{
    font-weight: bold;
    font-family: 'Montserrat';
}
.other-text
{
    font-family:'Nunito+Sans';
}