@media(max-width:768px){
    .about .about-header-container .contents{
        width: initial;
    }
    .about .project-contents{
        width: initial;
    }
     .about .blue-container .margin-xs{
        margin-bottom: 60px;
    }
    .about .project-container .project-contents {
        width: 100%;
    }
}

@media (max-width:767px){
    .nav{
        padding: 20px 15px !important;
    }
    .contact .textbox{
        width: 100%;
        height: 40px;
    }
    .contact .address{
        width:250px;
    }
}
@media only screen and (max-width: 500px) {
    .project-firsthalf
    {
        padding: 20px;;
        max-width:100% !important;
        flex-basis:100% !important;
    }
    .project-secondhalf
    {
        padding: 20px;
        max-width:100% !important;
        flex-basis:100% !important;
    }
   .corosal-container
   {
       justify-content:space-between;
       align-items: center;
       padding: 20px;
   }
   .footer-container
   {
        padding:20px;
   }
   .corosal-item
   {
       font-size: 11px;   }
}
@media screen and (max-width: 992px){
    .project-firsthalf
    {
        padding: 20px;
        max-width:100%;
        max-width:100% !important;
        flex-basis:100% !important;
    }
    .project-secondhalf
    {
        padding: 20px;
        max-width:100% !important;
        flex-basis:100% !important;
    }
    
}


