.link{
    float:right;  
}
.linkpage{
    text-decoration: none;
    color: black;
    padding-left:20px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.nav{
    padding:20px 50px;
}
