
.project-container
{
    display:flex;
    flex-wrap: wrap;
   
}
.project-firsthalf
{
    background-color: #f5f5f5;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding:50px;
}
.project-secondhalf
{   
    background-color: #f5f5f5;
    box-sizing: border-box;
    
    justify-content: center;
    align-items: center;
    padding:50px;
}

.img
{
    max-width:600px;
    max-height:500px;
    height:auto;
    width:100%;
}
.myButton{
    cursor:pointer;
    border:none;
    width:30px;
    height:34px;   
    padding:0;
}
.corosal-container
{
    display:flex;
    flex-wrap: wrap;
    width:100%; 
    align-items:center;
    justify-content: space-between;
    padding:50px;
    flex-wrap: wrap;
}
.corosal-item
{
    display:flex;
    align-items:center;
}
.wrap-adjust
{
    margin:10px;
}
.myslide
{
    display:flex; 
    width:100%;
    flex-wrap: wrap;
}