<!DOCTYPE html>
<html lang="en">

<head>
    <title>Team-B</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="../assets/flexboxgrid-6.3.1/css/flexboxgrid.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
</head>

<body>
    <div class="about">
        <div class="about-header-container">
            <div class="title">Amelia Woods</div>
            <div class="contents">I am a Graphic & Web Designer based in New York, specializing<br>
            in User Iterface Design and Development.
            </div>
        </div>
    </div>
</body>

</html>