<!DOCTYPE html>
<html lang="en">

<head>
    <title>Team-B</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/about.css">
    <link rel="stylesheet" href="../assets/flexboxgrid-6.3.1/css/flexboxgrid.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/contact.css">
    <link rel="stylesheet" href="../styles/media.css">
    <link rel="stylesheet" href="../styles/animation.css">

</head>

<body class="contact">
    <div class="nav">
        <img src="../assets/images/diamond.svg">
        <div class="link fadeInRight animated">
            <a href="../index.html" class="linkpage">Home</a>
            <a href="about.html" class="linkpage">About</a>
            <a href="contact.html" class="linkpage clicked">Contact</a>
        </div>
    </div>
    <div class="contact-head row">
        <div class="col-md-5 col-sm-12 col-xs-12 contact-info">
            <div class="address fadeInLeft animated">
                <h2 class="text-font-heading">Contact-Info</h2>
                <p class="text-font"> To give beginning divide,cattle.Give moving won't,there the abundantly she'd she'd brought air upon.Light
                    hath subdue.Life days creature upon first heaven gathering dry.</p>
                <p class="text-font">
                    <b class="sub-heading">Address : </b> 10111 Santa Monica Boulevard,LA</p>
                <p class="text-font">
                    <b class="sub-heading">Phone : </b> +44 987 065 908</p>
                <p class="text-font">
                    <b class="sub-heading">Email : </b> info@Example.com</p>
                <p class="text-font">
                    <b class="sub-heading">Fax : </b> +44 987 065 908</p>
            </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12 text-info">
            <div class="row paddin-0">
                <div class="col-xs-6">
                    <input class="textbox overwrite margin-bottom-sm" type="text" name="FirstName" value="" placeholder="Your Name">
                </div>
                <div class="col-xs-6">
                    <input class="textbox overwrite" type="text" name="LastName" value="" placeholder="Your Email">
                </div>
            </div>
            <div class="form-div">
                <input class="text overwrite" type="text" name="FirstName" value="" placeholder="Your Title">
            </div>
            <div class="form-div">
                <textarea placeholder="Your Comment"></textarea>
            </div>
            <br>
            <input class="regular-button overwrite bounceInUp animated" type="submit" value="Submit">
        </div>
    </div>
    <div class="map-div">
        <div id="map" style="width:100%;height:400px">My map will go here</div>
    </div>
    <div class="footer-container">
            <div class="combiner1  col-xs-6">
                <div>
                    <p class="bold-text">Piroll Design, Inc.</p>
                    <p class="other-text">@2017 Piroll All rights reserved.</p>
                    <p class="other-text">Designed by robiruruk.</p>
                </div>
                <div>
                    <p class="other-text">hello@pirolltheme.com</p>
                    <p class="other-text">+44 987 055 908</p>
                </div>
            </div>
            <div class="combiner2 col-xs-6">
                <div class="list-combiner">
                    <div>
                        <ul style="list-style:none;">
                            <li>Projects</li>
                            <li>About</li>
                            <li>Services</li>
                            <li>Center</li>
                        </ul>
                    </div>
                    <div>
                        <ul style="list-style:none;">
                            <li>News</li>
                            <li>Events</li>
                            <li>Contact</li>
                            <li>Legals</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <ul style="list-style:none;">
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Dribble</li>
                    </ul>
                </div>
            </div>
        </div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbhc4bllDPLGxJ8mTYIZ0ycqeji3dG8ZE&callback=initMap">

    </script>
    <script>
        function initMap() {
            var myLatlng = new google.maps.LatLng(34.024212, -118.496475);
            var mapOptions = {
                center: myLatlng,
                zoom: 10,
            }
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            var marker = new google.maps.Marker({
                position: myLatlng,
                title: "Hello World!"
            });

            marker.setMap(map);
        }
    </script>

</body>

</html>