<!DOCTYPE html>
<html lang="en">

<head>
    <title>Team-B</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/flexboxgrid-6.3.1/css/flexboxgrid.css" type="text/css">
    <link rel="stylesheet" href="../styles/project.css">
    <link rel="stylesheet" href="../styles/media.css">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
</head>

<body>
    <div class="nav">
        <img src="../assets/images/diamond.svg">
        <div class="link">
            <a href="../index.html" class="linkpage">Home</a>
            <a href="../views/about.html" class="linkpage">About</a>
            <a href="../views/contact.html" class="linkpage">Contact</a>
        </div>
    </div>
    <div class="project-container">
        <div class="myslide">
            <div class="project-firsthalf col-xs-6">
                <h1 class="bold-text">Light Breakfast</h1>
                <p class="other-text">light his can't a creeping. Be, bring blessed night. Replenish blessed creature good. Saw earth every creepeth
                    lights day, divided abundantly from. In. Said given lights. Sixth the male. Upon their multiply. Kind
                    beast. Him tree upon</p>
                <br>
                <p class="other-text">Cattle. Dominion day herb she'd creeping divide darkness. Which. Subdue had.</p>
                <br>
                <br>
                <p class="other-text">
                    <span class="bold-text">Client: </span>Emma Morris</p>
                <p class="other-text">
                    <span class="bold-text">Date: </span>25.06.2017</p>
                <p class="other-text">
                    <span class="bold-text">Share: </span>Facebook, Twitter, Pinterest</p>
            </div>
            <div class="project-secondhalf col-xs-6">
                <center>
                    <img class=" img" src="../assets/images/project-image.jpeg">
                </center>
            </div>
        </div>
        <div class="myslide">
            <div class="project-firsthalf col-xs-6">
                <h1 class="bold-text">DINNER</h1>
                <p class="other-text">light his can't a creeping. Be, bring blessed night. Replenish blessed creature good. Saw earth every creepeth
                    lights day, divided abundantly from. In. Said given lights. Sixth the male. Upon their multiply. Kind
                    beast. Him tree upon</p>
                <br>
                <p class="other-text">Cattle. Dominion day herb she'd creeping divide darkness. Which. Subdue had.</p>
                <br>
                <br>
                <p class="other-text">
                    <span class="bold-text">Client: </span>POWER STAR</p>
                <p class="other-text">
                    <span class="bold-text">Date: </span>25.06.2017</p>
                <p class="other-text">
                    <span class="bold-text">Share: </span>Facebook, INSTA, ORCUT</p>
            </div>
            <div class="project-secondhalf col-xs-6">
                <center>
                    <img class=" img" src="../assets/images/project-image1.jpeg">
                </center>
            </div>
        </div>
        <div class="corosal-container">
                <div class="corosal-item">
                    <button class="myButton" style="background:url(../angle-left.svg) no-repeat;" onclick="plusDivs(-1)">
                    </button>
                    <p>
                        <span class="bold-text">PREVIOUS PROJECT</span>
                    </p>
                </div>
                <div class="corosal-item wrap-adjust">
                    <p>
                        <span class="bold-text">NEXT PROJECT</span>
                    </p>
                    <button class="myButton" style="background:url(../angle-right.svg) no-repeat;" onclick="plusDivs(1)">
                    </button>
                </div>
                <script>
                    var slideIndex = 1;
                    showDivs(slideIndex);
        
                    function plusDivs(n) {
                        showDivs(slideIndex += n);
                    }
        
                    function showDivs(n) {
                        var i;
                        var x = document.getElementsByClassName("myslide");
                        if (n > x.length) { slideIndex = 1 }
                        if (n < 1) { slideIndex = x.length }
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";
                        }
                        x[slideIndex - 1].style.display = "flex";
                    }
                </script>
            </div>
    </div>
    <div class="footer-container">
        <div class="combiner1  col-xs-6">
            <div>
                <p class="bold-text">Piroll Design, Inc.</p>
                <p class="other-text">@2017 Piroll All rights reserved.</p>
                <p class="other-text">Designed by robiruruk.</p>
            </div>
            <div>
                <p class="other-text">hello@pirolltheme.com</p>
                <p class="other-text">+44 987 055 908</p>
            </div>
        </div>
        <div class="combiner2 col-xs-6">
            <div class="list-combiner">
                <div>
                    <ul style="list-style:none;">
                        <li>Projects</li>
                        <li>About</li>
                        <li>Services</li>
                        <li>Center</li>
                    </ul>
                </div>
                <div>
                    <ul style="list-style:none;">
                        <li>News</li>
                        <li>Events</li>
                        <li>Contact</li>
                        <li>Legals</li>
                    </ul>
                </div>
            </div>
            <div>
                <ul style="list-style:none;">
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Dribble</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>