/* single-post-page mobile-device */
@media (max-width: 767px){
    .image-blog{
        display: flex;
        height: auto;
        width: 100%;
    }
    .single-post .details{
        display: flex;
        align-items: center;
    }
    .single-post .input-field{
        background-color: white;
        padding-left: 20px;
        border: none;
        border-radius: 5px;
        margin: 10px 10px 10px 0px;
        height: 50px;
    }
    .single-post .comment-field{
        background-color: white;
        padding-left: 20px;
        border: none;
        border-radius: 5px;
        height: 150px;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .image-blog{
        display: flex;
        height: auto;
        width: 100%;
    }
}
/* blog-page mobile-device */
@media (max-width: 767px){
    .blog .image-section{
        display: flex;
        flex-direction: column;
    }
}

/* Index page mobile view */
@media (max-width: 767px){
    .index-container .magazine-container, .magazine-alignment{
        height: 500px;
    }
    .index-container .magazine-container .header{
        font-size: 0.5em;
    }
    .index-container .magazine-container .sub-header{
        font-size: 0.75em;
    }
    .index-container .magazine-container .main-header{
        font-size: 0.8em;
    }
    .index-container .feedback-container{
        padding: 30px 15px;
    }
    .index-container .about-container .header-content{
        font-size: 1em;
    }
    .index-container .about-container .sub-header-text{
        font-size: 0.75em;
    }
    .margin-top-25{
        margin-top: 25px;
    }
    .index-container .common-container .header-content {
        font-size: 1.75em;
    }
    .index-container .feedback-container .feedback-icon{
        font-size: 1.5em;
    }
    .index-container .message-container{
        padding: 38px 0px;
    }
    .footer-container .about{
        margin-bottom: 20px;
        text-align: center;
    }
    .footer-container .footer-icons, .tweet{
        justify-content: center;
    }
    .footer-container .latest-tweets, .instagram{
        text-align: center;
    }
    .footer-container .header{
        font-size: 2em;
    }
    .blog-container .display-none{
        display: none;
    }
    .footer-container .instagram-images{
        width: 300px;
    }
}

/* Index page tab view */
@media (min-width: 768px) and (max-width: 991px){
    .index-container .feedback-style{
        justify-content: space-around;
    }
    .index-container .feedback-sub-header{
        font-size: 0.5em;
    }
    .portfolio-image{ 
        height: 250px; 
        width: 100%; 
    }
}

/* Index page smaller and tab view */
@media (max-width: 991px){
    .index-container .contact-container .input-field{
        width: 80% !important;
    }
    .index-container .contact-container .comment-field{
        width: 81% !important;
    }
    .index-container .contact-container .email-alignment{
        padding: 0px !important;
    }
    .index-container .contact-container .details{
        text-align: center;
    }
    .index-container .contact-container .header-content{
        display: flex;
        justify-content: center;
    }
    .index-container .contact-container .center-align{
        margin-bottom: 20px;
        align-items: center;
        flex-direction: column;
        display: flex;
    }
}
/* portfolio-page small-and-medium-device */
@media (max-width: 767px){
    .portfolio-container .portfolio-image{ 
        padding-top:20px; 
        width: 300px;
    } 
}
/* single-work-page small-and-medium-device */
@media (max-width: 767px){
    .single-work-container .carousel{
        height: 300px;
    }
    .single-work-container video {
        height: 300px;
    }
    .menu-icon {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .single-work-container .carousel{
        height: 400px;
    }
    .single-work-container video {
        height: 400px;
    }
}
@media (max-width: 767px){
    ul {
        background-color: white;
        display: block !important;
        height: 0;
        list-style-type: none;
        opacity: 0;
        text-align: center;
        transition: all 0.5s ease;
        width: 100%;
        visibility: hidden;
        margin-top:50px;
    }
    .index-container li{
        padding: 8px 0px !important;
    }  
    li {
        font-size: 1.5em;
        padding: 15px 0;
    }
    #menu-toggle:checked ~ ul {
        opacity: 1;
        height: 350px;
        visibility: visible;
    }
    .index-container #menu-toggle:checked ~ ul {
        background-color: #35383D;
    }
    .label-toggle {
        margin-right: 25px;
        background: linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.0)), url('../assets/images/menu.svg') no-repeat center center / cover;
        cursor: pointer;
        display: block;
        height: 35px;
        width: 35px;
        order:1;
    }
    nav .wrapper{
        display:block ;
    }
    nav img{
        height: 30px !important;
        width: 60px !important;
    }
    .nav-bar {
        padding: 25px 0px 0px !important;
    }
}