.portfolio-container .portfolio-image{ 
    height: 300px; 
    width: 100%; 
} 
.portfolio-container .image-container{
    position: relative;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 300px; 
    width: 100%;
}
.portfolio-container .image-container:hover .portfolio-image{
    filter: brightness(25%);
}
.portfolio-container .image-container:hover .img-text{
    opacity: 1;
}
.portfolio-container .img-text{
    position: absolute;
    opacity: 0;
}
.portfolio-container .load-more-link{ 
    display: flex; 
    justify-content: center; 
    background-color: white;
    letter-spacing: 0.5px;
    font-size: 1.25em;
    padding: 30px 0px;
}