.portfolio-container .image-container:hover .portfolio-image{
    filter: brightness(25%);
}
.portfolio-container .image-container:hover .img-text{
    opacity: 1;
}
.portfolio-container .img-text{
    position: absolute;
    opacity: 0;
}
